.main-menu.menu {
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);

  .menu-container {
    width: 1200px;

    .logo {
      padding: 0 15px 0 0;
      margin-left: 0;
    }
  }
}

.sidebar-menu-container {
  .menu-item {
    font-size: 1.2em;
  }

  .menu-sub-items {
    padding-left: 15px;
  }
}

.menu-item-red-bg {
  font-size: 1.2em;
  background-color: #db2828 !important;
  color: #fff !important;
}
