.hide-on-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.hide-on-tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    display: none;
  }
}

.hide-on-desktop {
  @media (min-width: 1025px) {
    display: none;
  }
}